#layout{
  #nav-top{
    color: $white1;
    background: $blue0;
    
    #nav-top-header{
      height: 44px;
      padding: 12px 0 0 17px;
      font-weight: 700;
      font-size: 1.7em;
    }

    #nav-top-left{
      .nav-link-container{
        display: inline-block;
        text-decoration: none;
        font-weight: 400;
        margin: 5px 20px 0;
        border-bottom: 5px solid transparent;
        color: inherit;

        &.active{
          border-bottom: 5px solid $blue2;
          color: inherit;
          font-weight: 700;

          .nav-link{
          }
        }

        &:hover{
          .nav-link{
          }
        }

        .nav-link{
          padding: 15px;
          font-family: $fontFam1;
          text-transform: uppercase;
          letter-spacing: 4px;
          display: block;

          .fa{
            margin-right: 15px;
          }
        }
      }
    }

    #nav-top-right{
      // background: $white0;
      color: $white3;
      height: 50px;

      #nav-top-right-links{
        .nav-top-right-link{
          display: inline-block;
          padding: 20px 15px;
          // border-left: 2px solid $gray4;
          cursor: pointer;

          .fa{
            margin: 0 3px;
            width: 14px;
            text-align: center;
          }
        }
      }
    }
  }


  #content-wrapper{
    background: $gray2;
    position: relative;
    width: 100%;
  }
}
  
  

