#layout{
  #nav-left{
    background: $blue0
    position: absolute
    top: 0
    left: 0
    min-height: 100%;
    width: 230px

    .nav-header{
      height: 44px
      color: $white3
      padding: 12px 0 0 17px
      font-weight: 700
      font-size: 20px
    }

    .nav-link-container{
      border-top: 1px solid $blue3a
      border-bottom: 2px solid $blue3b
      display: block
      text-decoration: none
      font-weight: 400;
      margin: 5px 0
      &.active{
        background: $blue2
        color: $white3
        font-weight: 700

        .nav-link{
          border-left: 3px solid $blue2
        }
      }

      &:hover{
        .nav-link{
          border-left: 3px solid $blue2
        }
      }

      .nav-link{
        border-left: 3px solid transparent
        padding: 15px 0
        color: $white1
        font-family: $fontFam1
        text-transform: uppercase;
        letter-spacing: 4px;
        padding-left: 15px;
        display: block
        
        .fa{
          color: $blue4
          margin-right: 15px
        }
      }
    }
    
    
  }

  #content-prewrapper{
    margin-left: 230px
    background: $gray2
    min-height: 100%;

    #nav-top{
      background: $white0
      color: $gray3
      height: 50px

      #nav-top-right-links{
        .nav-top-right-link{
          display: inline-block
          padding: 15px
          border-left: 2px solid $gray4
          cursor: pointer

          .fa{
            margin: 0 3px;
            width: 14px;
            text-align: center
          }
        }
      }
    }
    
    #content-wrapper{
      position: relative;
      width: 100%;
    }
  }
  

  
}
  
  

