lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

# Dependency directory
node_modules
bower_components

# API keys and secrets
.env
.env.example

# Editors
.idea
*.iml
.jshintrc

# OS metadata
.DS_Store
Thumbs.db

