html, body {
  min-height: 100%;
  /*padding: 0;*/
  margin: 0;
  background: $gray5;
  font-family: $fontFam1;
}
.pull-left{
  float:left;
}
.pull-right{
  float: right;
}


.transition-enter {
  opacity: 0.01;
  
  &.transition-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
}

.transition-leave {
  opacity: 0;
  
  &.transition-leave-active {
    opacity: 0;
    transition: opacity 300ms ease-in;
  }
}

/*Stands for Center-fixed-width-wrapper*/
.cfww{
  max-width: 1200px;
  margin: 0 auto;
}
