
doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Dispatchr
    link(rel='stylesheet', href='/css/main.css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300', rel='stylesheet', type='text/css')
      
  body
    #app-container

    if user
      script(type='text/javascript').
        var user = !{JSON.stringify(user)};
    else
      script(type='text/javascript').
        var user = null;
    script(src='/js/spa/vendor.original.js')
    script(src='/js/spa/app.original.js')
