

// add template for dispatch dashboard
// render react app and components

doctype html
html
  head
    meta(charset='utf-8')
    title Sexy Ass Dispatch Dashboard
    meta(name='viewport', content='initial-scale=1,maximum-scale=1,user-scalable=no')
    script(src='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.js')
    link(href='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.css', rel='stylesheet')
    style.
      body { margin:2; padding:1; }
      #map { position:absolute; top:0; bottom:0; width:100%; }
  body
    #map
    script(src='/js/mapbox.js')