#drivers {
  .column {
    width: 220px;
  }
  .column.actions{
    text-align: right;
  }
  .header{
    a#new-driver{
      i{
        margin-right: 10px
      }
    }
  }
  .data-headers{
    font-weight: bold;
  }
  .data-items{

    .data-item{
      .column{
        color: #6F7071;
        &.active{
          i.active{color: #92B85C;}
          i.inactive{color: #DF793D;}
        }
        &.actions{
          text-align: right;
          .action{
            margin: 0 10px;
            cursor: pointer;
          }
        }
      }
    }
    
  }
  
}
